ion-content{
    --background:url(../../assets/1200x1920-Background-HD-Wallpaper-025-300x480.jpg) no-repeat
    center center/cover;
}

.bn{
    color:black;
    font-size: 30px;
    margin: 0 auto;
    position: relative;
    top: 18%;
    left: 22%;
    right: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.carga{
   
    top: 30%;
    left:45%
}