<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Información de la aplicación</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Esta es una app de prueba para la materia Desarrollo de aplicaciones moviles dentro de la carrera
      de Ingeniería Informática
    </ion-card-content>
  </ion-card>
  
  <ion-img src="../../assets/Shiba.png"></ion-img>

</ion-content>
